{#
/**
 * @file
 *
 * Available variables:
 * - invoice_url:
 *     The invoice permalink.
 * - invoice_pdf_url:
 *     The invoice download pdf link.
 *
 */
#}
{%
  set classes = [
  'quaderno-invoice-links'
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if invoice_pdf_url %}
    <div class="download-link"><p><a href="{{ invoice_pdf_url }}">Download invoice</a></p></div>
  {% endif %}
  {% if invoice_url %}
    <div class="view-link"><p><a href="{{ invoice_url }}">View invoice</a></p></div>
  {% endif %}

</div>
